extends baseTemplate

block content 
  .sectionheader
    .card-container
      .card
        .card__header
          h3.heading-tertirary
            span Sign Up
        .card__details
          h4.card__sub-heading New Login
          p.card__text
            | Please enter the following Details
          .card__data
            svg.card__icon
              use(xlink:href='img/icons.svg#icon-map-pin')
            form(method='POST' action='/signUp')
              div.form-group
                label(for='firstname') First Name:
                input#firstname.form-control(type='text', placeholder='first name' name='firstname')
              div.form-group
                label(for='lastname') Last Name :
                input#lastname.form-control(type='text', placeholder='last name' name='lastname')
              div.form-group
                label(for='email') Email:
                input#email.form-control(type='email', placeholder='name@email.com' name='email')
              div.form-group
                label(for='password') Password:
                input#password.form-control(type='password' name='password')
              div.form-group
                label(for='passwordConfirm') Confirm Password:
                input#passwordConfirm.form-control(type='password' name='passwordConfirm')
              button.btn.btn-primary(type='submit') Sign up
    
